<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Rong's blog | <%= title %></title>
</head>

<body>
    <% const name = 'rong'%>
    <nav>
        <div class="site-title">
            <p><%= name %></p>
            <a href="/">
                <h1>Rong's blog</h1>
            </a>
            <p>A Net Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs-content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0){ %>
            <% blogs.forEach(element => { %>
                <h3 class="title"><%= element.title %></h3>
                <p class="snippet"><%= element.snippet %> </p>
            <% }); %>
        <% } %>
    </div>
</body>

</html>